default_language_version:
  node: 18.4.0
  python: python3.11
repos:
  - repo: https://github.com/python/black
    rev: 25.9.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    # flake8 config is in setup.cfg
    rev: 7.3.0
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v6.8.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@6.8.0
          - eslint-config-airbnb@18.0.1
          - eslint-config-prettier@6.9.0
          - eslint-config-torchbox@0.3.2
          - eslint-plugin-import@2.22.1
          - eslint-plugin-jsx-a11y@6.2.3
          - eslint-plugin-react@7.17.0
          - eslint-plugin-react-hooks@1.7.0
          - "@babel/core@7.10.3"
          - "@babel/preset-env@7.10.3"
          - "@babel/preset-react@7.10.1"
          - babel-eslint@10.0.3
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier
        types_or: [markdown, css, scss, javascript, json, yaml]
  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
      - id: stylelint
        additional_dependencies:
          - stylelint@10.1.0
          - stylelint-config-torchbox@0.5.0
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
        exclude: >
          (?x)^(
              .*/tests/.*|
              package-lock.json|
              poetry.lock
          )$
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
